.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

svg {
  border: 1px solid black;
  /* background-color: royalblue; */
  /* border: 3px solid #eee;
  display: block;
  margin: 1em auto; */
}
p {
  color: #aaa;
  text-align: center;
  margin: 2em 0;
}

.circle-animation {
  transition: cx 1000ms ease, cy 1000ms ease;
}

.rectangle-animation {
  transition: d 1000ms ease;
}

.connector-animation {
  transition: d 1000ms ease;
}